.labelcard{
    /* height: 150px; */
    word-wrap: break-word;
}

.textarea{
    outline: none;
}

.update{
   
    text-align: left;
     width: 91%;
      height: 100%;
      font-size:12pt;
      border: hidden;
      display: flex;
      outline: none
}