button {
    background-color:green;
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: groove;
    cursor: pointer;
    width: 40%;
    }
    button:hover {
    opacity: 0.5;
    }

    h2 { text-align: center 
    
    }

    