// .inventory-body {
//     position: fixed;
//     min-width: 55%;
//     background-image: url("/assets/image/notifications.svg");
//     background-repeat: no-repeat;
//     background-size: 1%;
//     background-position: center;
//     background-size: cover;
//     opacity: .16;
//     padding:0px 0px 0px 0px;
//     margin: -113px 0px 0px 147px;
//     }


.mat-icon
{
background-size: 500px 500px;
font-size: 200px;
margin: 20px;
opacity: .1;
padding-left: 420px;
padding: 0px 260px 0px 150px;
background-repeat:no-repeat;

}
.rem
{
background-size: 120px 120px;
margin: 50px;
opacity: .3;
text-align: center;
font-size: 1.2rem;
font-weight: 400;
line-height: 1.75rem;
background-repeat:no-repeat;
padding:0px 10px 0px 27px;
}

.fa-calendar{
 padding:0px 0px 0px 0px;
}

.example-trigger {
    display: inline-block;
  }

  .example-input-wrapper{
    display: inline-block;
  }
  