<mat-sidenav-container class="container_class">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>        
      <button mat-stroked-button  class="image" id="button" (click)="navigateTo('homepage/main-note')" ><img src="./assets/image/note.svg" 
        id="imgNotes" >Notes</button><br>
                
        <button mat-stroked-button class="image" id="button" (click)="navigateTo('homepage/app-reminder')"><img src="./assets/image/notifications.svg" id="imgRem">Reminders</button><br>
          <hr id="line">
          <div>
            <span style="margin-left: 20px">
             
              <font class = "font">Labels</font>
            </span> 
          </div>
          <br>
          
          <div *ngFor="let label of labels">
            <div fxLayout=row fxLayoutGap="10%">
              <button mat-stroked-button (click)="getNoteWithLabel(label)" class=labelbtn >  
                    <img class="image" src="./assets/image/label1.svg" id="labl">
                <div fxFlex="90%" class="txtt">{{label.labelName}}</div>
              </button>
            </div>
          </div>
         

          <div (updateClick)="refresh($event)">
            <button mat-stroked-button class="buttonn" (click)="labelEdit()" >
                <img class="image" src="./assets/image/edits.svg" id="imglab"> Edit labels</button>
          </div>
<!--          
            <button mat-stroked-button class="buttonn" >
              <img class="image" src="./assets/image/label.svg" id="imgaddlab">Add label</button> 
             
               <div fxLayout=row fxLayoutGap="10%">
                <button mat-stroked-button class=labelbutton (click)="notesWithList(data)">
                  <div fxFlex="5%"><i class="material-icons">label</i></div>
                  <div fxFlex="90%" class="txtt">{{data}}</div>
                </button>
              </div> 
            -->
          

  <hr id="line">
   <button mat-stroked-button id="button" class="button" (click)="navigateTo('homepage/archivenotes')"><img  src="./assets/image/archive.svg"
    width="30%" height="30%" id="imgArc">Archive</button><br> 
    <button mat-stroked-button id="button" class="button"  (click)="navigateTo('homepage/trash-notes')"><img src="./assets/image/trash1.svg"
      id="imgtrace" width="38%" height="38%">Trash</button><br>

              </mat-nav-list>
             
          </mat-sidenav>
          <mat-sidenav-content>
                  <main>
                    <router-outlet></router-outlet>
                  </main>
                </mat-sidenav-content>
                 
                  </mat-sidenav-container> 