button {
    background-color:yellow;
    color: black;
    padding: 10px 20px;
    margin: 5px 0;
    border-style: groove;
    cursor: pointer;
    width: 100%;
    }
    button:hover {
    opacity: 1.5;
    }

    h2 { text-align: center  }