::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color:gray !important; 
   
}
.morecard {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color:coral;
    font-size: 10px;
}

p.text-align{
    padding-right: -100px;
}


.label-align{
    width: auto;
    height:auto;
    overflow: hidden;
    line-height: 1.6;
}

.text{
    margin: 35px;
}

#labelnote{
    padding: 15px;
}

.textarea{
    padding: -1000px 0px -1000px 0px;
}


#label{

    padding:0px 0px 0px 15px;
}

#parah{
    padding: 0px 0px 0px 15px;
}

#chk{
    padding: 0px 0px 0px 11px;
}


#srcbox{
    padding: -1000px 0px -1000px 0px;
}

