<div fxLayout="row" fxLayoutAlign="center center">
<mat-card fxFlex="30%;" fxFlex.xs="50%" fxFlex.sm="50%" fxFlex.md="40%">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="./assets/image/forgot.jpg" style="width: 150px;height:150px;">
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">

      <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm.value)">
          <h2>Forgot password</h2>
          <br>


          <div class="form-group" class="container">
              <mat-form-field appearance="outline">
                <mat-label for="emailId">Your Email ID</mat-label>
                <input matInput placeholder="Enter the Email ID" formControlName="emailId" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
                <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                  <mat-error *ngIf="f.emailId.errors.required">emailId is required</mat-error>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group" class="container">
        
                <button mat-button color="btn-primary">Send link</button><br>
                 <!-- <div> <a routerLink="/forgotpassword" class="btn-btn-link">Send link</a></div>
                  <br>
               <img *ngIf="loading"
                  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  <br> 
                  </div> -->
            </div>
                  </form>
                  
                </div>
                  </mat-card>
                  </div>
                  