.link{
    color: rgb(33, 130, 209);
    text-decoration:none 
  }
  #nextbutton{
    color: white;
    background-color: rgb(33, 130, 209)
  }
  .example-full-width{
    color: rgb(33, 130, 209);
  }	
  .example-full-width{
    width: 100%;
}

button {
  background-color:yellow;
  color: black;
  padding: 10px 10px;
  margin: 5px 0;
  border-style: groove;
  cursor: pointer;
  width: 40%;
  }
  button:hover {
  opacity: 0.5;
  }

  h2 { text-align: center  }