.mat-card {

    width: 300px;
}
.size{

  width: 600px;
    position: relative;
  border-radius: 20px 20px 20px 20px;

}

.size:hover{
  border: 1px solid lightgrey;
  box-shadow: 0 1px 16px 4px lightgrey;
opacity: 0.8;
}


 
 
  mat-sidenav-container{
  
    height:100%;
  }

  

  :host {
    .gk {
      &-container {
        margin: 10px 20px;
      }
  
  &-grid-view {
        
        display: flex;
        flex-wrap: wrap;
       justify-content: space-around;
       
        mat-card{
         
          width:250px;
          margin: 20px;
          position: relative;
        }
        
      }
      &-list-view {
        
        mat-card{
          margin: 78px;
          width:400px;
          position: relative;
        }
       
      }
    }
  }

  .imageSize
  {
    height:50%;
     width:100%
  };

.images 
    {
      flex-direction: column;
      flex-wrap: wrap;
      margin: 2px -11px;
      height: fit-content;
      width: 101px;
    }
